{{- if .Site.Params.header.logo }}
  {{- $logo := resources.Get .Site.Params.header.logo }}
  {{- $logo_dark := resources.Get .Site.Params.header.logoDark }}
  {{- if $logo }}
    <a href="{{ "" | relLangURL }}" class="mr-2">
      <!-- prettier-ignore-attribute -->
      <img
        src="{{ $logo.RelPermalink }}"
        width="{{ div $logo.Width 2 }}"
        height="{{ div $logo.Height 2 }}"
        class="max-h-[10rem] max-w-[10rem] object-scale-down object-left
        {{ if $logo_dark }}hidden dark:flex{{ end }}"
        alt="{{ .Site.Title }}"
      />
      {{- if $logo_dark }}
        <img
          src="{{ $logo_dark.RelPermalink }}"
          width="{{ div $logo_dark.Width 2 }}"
          height="{{ div $logo_dark.Height 2 }}"
          class="max-h-[10rem] max-w-[10rem] object-scale-down object-left dark:hidden"
          alt="{{ .Site.Title }}"
        />
      {{- end }}
    </a>
  {{- end }}
{{- end }}
{{- if .Site.Params.header.showTitle | default true }}
  <a
    class="wordmark decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
    rel="me"
    href="{{ "" | relLangURL }}"
    ><svg class="wordmark-mark" viewBox="0 0 20 20" aria-hidden="true" width="22" height="22"><polygon points="10,1 18.5,7.2 15.3,17 4.7,17 1.5,7.2" fill="none" stroke="#2D5A5A" stroke-width="1.6" stroke-linejoin="round"/><polygon points="10,6 13.5,8.6 12.2,12.8 7.8,12.8 6.5,8.6" fill="#A9532F"/></svg><span class="wordmark-standpoint">Standpoint</span><span class="wordmark-labs">Labs</span></a
  >
{{- end }}
